.ip-group-physical {
 background-color: #2ECC71 !important;
}

.ip-group-virtual {
  background-color: #F8C471 !important;
}

.ip-group-camera {
  background-color: #EC7063 !important;
}

.ip-group-enduser {
  background-color: #48C9B0 !important;
}