/*@use "~@accruent/acc-react-components/styles/variables";*/

.mainsite-alert {
  display: flex;
  align-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
